body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.cards-container {
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
}


.concluir-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.concluir-btn:hover {
    background-color: #45a049;
}

#addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#addForm {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#addForm label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#addForm input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addForm input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#addForm input[type="submit"]:hover {
    background-color: #aae7ad;
}

.cards-container {
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    max-height: 500px;
    overflow-y: auto;
}

.cards-container::-webkit-scrollbar {
    width: 12px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    margin-right: 20px; 
}

.board {
    display: flex;
}

